[2016-01-17 17:40] rjsheperd opened #1 "Slugs for projects and lessons"
@phantummm What do you think of making lessons and projects have URL slugs based on their titles?

[2016-01-17 17:42] rjsheperd opened #2 "Project, Lesson Page layouts"

[2016-01-17 17:43] rjsheperd opened #3 "SVG Social Icons"
Instead of having the Twitter/Instagram links in the footer as text, it would be cool to have an icon set that we can use throughout the app for either sharing lessons, etc.

[2016-01-17 17:45] rjsheperd opened #4 "POST to backend from Newsletter Signup"

[2016-01-17 17:46] rjsheperd opened #5 "Mailchimp Signup Integration"
@phantummm Do you think we should do this on the FE or BE?

[2016-01-17 17:48] rjsheperd opened #6 "Admin Interface for Projects, Lessons"
User Story:
As an admin I want to create, edit Projects and Lessons

@phantummm I think we need to setup an admin login for this.

[2016-01-17 17:50] rjsheperd opened #7 "Directions on how to set up env for Jason"
`rake db:migrate`

Maybe we can put this in the README?
cc @phantummm

[2016-01-17 18:19] rjsheperd opened #8 "Upload Images to S3"
This is probably the highest priority one right now :+1:

I think you said something about how we could use a gem to do the heavy lifting for this one?

[2016-01-17 18:54] rjsheperd opened #9 "Roles"
Reminder to flesh out Roles / Permissions
Teachers
School Administrators
Students
Parents

[2016-01-28 04:38] jasonoverby opened #10 "I have an issue with you, RJ"
!!!

[2016-01-28 04:39] #10 closed

[2016-03-04 04:46] phantummm opened #16 "Research auth endpoint for API"
Get a plan for a JSON web-token based auth system for an Ember app. Document in wiki.

[2016-03-10 05:55] phantummm opened #17 "Move all tokens/keys/secrets out of repo"
Currently exposing `secrets.yml`, for example. This only has secret keys for development and testing environments, so it's not a big deal, but good to keep disciplined about this stuff. Make them all environment variables.

[2016-03-11 01:30] #8 closed

[2016-03-11 05:32] teaboz opened #18 "Change Ages for Upper and Lower Academy"
I would like to change the ages for Lower academy to be 1/2 grade and upper to be 3/4/5th grades

[2016-03-11 15:16] teaboz opened #19 "Photos to the About Page"
Can we add some pictures of kids working to the 'about page'? It seems text heavy.

Any of these are particularly cute:
https://www.instagram.com/p/_AAc-5C8Zr/?taken-by=doodlesacademy
https://www.instagram.com/p/-C93B2C8W2/?taken-by=doodlesacademy

And here's another one of me teaching:
https://www.instagram.com/p/9NLsz6i8an/?taken-by=doodlesacademy

I can get even more if you want them!

[2016-03-11 15:21] teaboz opened #20 "PDX Class Page"
Update PDF to the current version or create it via text (Jason said the PDF looked blurry but it seems fine on my end--this is like the least important part of the site, so whatever is easiest).

[2016-03-11 15:22] rjsheperd commented on #20
@teaboz Can you attach PDF here?

[2016-03-11 15:22] teaboz opened #21 "Minor text edit to Partnerships Page"
Change: If you are interested in signing up for a class, please use the contact page

to
 If you are interested in learning more,visit the PDX Class page (with a link)

[2016-03-11 15:25] teaboz commented on #20
Yerp!
[Art Class Handout COLOR-PPS.pdf](https://github.com/doodlesacademy/doodles/files/169450/Art.Class.Handout.COLOR-PPS.pdf)

[2016-03-11 15:58] teaboz opened #22 "Donation Button"
We have to figure out how we want to add donations.
I'm suggesting Art.ful.ly because it syncs up with Fractured Atlas, but we can change it when we get 501c3 status without having to switch away, and keep our donor tracking consistent. They have a 'widget' you can create, but I haven't played around with it so don't know if it is any good:

https://www.artful.ly/welcome

[2016-03-11 15:59] teaboz commented on #22
name: doodlesacademy@gmail.com
pw: ath7185769811

https://www.artful.ly/widgets/new

[2016-03-11 16:02] teaboz opened #23 "Contact Page"
Needs a contact form.

[2016-03-11 16:04] teaboz commented on #19
Actually, revisiting it, I think that those photos and then also the header image should be moved down into the text, and the header replaced with child's art so it is consistent with the rest of the pages.

[2016-03-11 16:05] rjsheperd commented on #19
How should this layout look like?

Here's an example of a wireframe by the way. The first is a mobile layout and the second is the regular layout.
[About_Page.pdf](https://github.com/doodlesacademy/doodles/files/169506/About_Page.pdf)

[2016-03-11 16:05] rjsheperd commented on #19
Re: the header image, we can certainly change that out.

[2016-03-11 16:21] teaboz commented on #19
I think that wireframe looks pretty good--except maybe the slideshow & uppermost image should be switched so the slideshow is at top.

How about the slideshow be of the particularly cute photos of kids working I sent before, plus the ones I am attaching there.

The two photos within the text can be the ones of me teaching (the one from the header, the other one I sent above)

![img_5667](https://c

[2016-03-12 15:57] teaboz opened #24 "Volunteers/Team"
On the 'team' page change 'volunteers' to 'contributors'

[2016-03-12 16:18] teaboz opened #25 "Try new Header Images"
Can we try some new headers? Change header on About page/Supporters/Team (any order):

![header1](https://cloud.githubusercontent.com/assets/17777336/13723964/0d8b58b0-e82a-11e5-9672-31120f45da2b.jpg)
![header2](https://cloud.githubusercontent.com/assets/17777336/13723966/0d8cdd98-e82a-11e5-81e1-8edbeeeab4c2.jpg)
![header3](https://cloud.githubusercontent.com/assets/17777336/13723965/0d8c49d2-e82a

[2016-03-12 16:20] teaboz commented on #25
Also, are you sure the 1200X900 dimensions are correct? It seems more squarish than the site is. i have a photoshop file that I can change the images in.

[2016-03-18 02:03] teaboz opened #27 "Import Lesson plans"
From PDF version to HTML Version:

Lower Superhero:
https://www.dropbox.com/s/oyubyvzi8usku1o/Lower_SuperheroLessonPacket.pdf?dl=0

Upper Superhero:
https://www.dropbox.com/s/1a8r5s5oimy5o5u/Upper_SuperheroLessonPacket.pdf?dl=0

Lower Symbol & Self:
https://www.dropbox.com/s/6wlk3939d6b3l5r/Lower_Symbol%26Self_LessonPacket.pdf?dl=0

Upper Symbol & Self:
https://www.dropbox.com/s/z2vvbwp5ldmtirt/Up

[2016-03-18 16:10] teaboz opened #28 "Style Project Pages"
For next week, please style (code) the project pages that Fred mocked up. I'm starting this issue to put all the docs you need in one place, but @rjsheperd will come in and break it down for you a bit more.

The templates:
https://dl.dropboxusercontent.com/u/10656919/HTML/home.html

https://dl.dropboxusercontent.com/u/10656919/HTML/lesson_1.html

The info to go in them (it's in Numbers format--let

[2016-03-28 14:27] #1 closed

[2016-03-28 14:27] #2 closed

[2016-03-28 14:28] #6 closed

[2016-03-28 14:28] #7 closed

[2016-03-28 14:31] #25 closed

[2016-03-30 14:28] teaboz opened #30 "Donation Buttons"
We are going to add donation buttons to the bottom of each page.

Each donation button will have text above it similar to how it is on the landing page, now (but the text will be different for each page). Specific text coming soon.

[2016-03-30 14:31] teaboz opened #31 "Contributors Page--where are the other contributors?"
Not all the volunteers are showing up on the contributors page, even though they are entered in the admin console.

[2016-03-30 23:49] teaboz opened #32 "Coding out educators example page"
This is not a priority, but we will need a new educators sample page connected to the new site. We'll have to keep paying for the square-space site that it is hosted on until we get one. That being said--not important for the Sunday launch! This is a task for after we get the other shit done that _is_ important for Sunday.

Here's the current:
http://www.doodles-academy.org/sample-page-for-educato

[2016-03-30 23:50] teaboz commented on #32
This is not linked to on the site, it's what we send to schools/etc. when connecting with them and asking if they might want to partner with us

[2016-03-31 00:31] teaboz opened #33 "Supporters Page"
Donors should go on top (before portland child art center), and should include:

Laura Harris
Kara Bloom
Kara Larsen

add a header, 'Community Partners' before the PCAS logo and description

Link to our contact page where it says 'use contact page'

[2016-03-31 00:32] teaboz commented on #33
Also--don't know if this is possible, but could we have three columns for the donor names so it doesn't look like one long list once we get some more of them?

[2016-04-01 00:18] teaboz commented on #30
LOW PRIOTIRTY--we're still working on

[2016-04-01 00:18] #30 closed

[2016-04-01 00:18] teaboz commented on #30
We'll reopen this when we are ready for it--I want to focus on more essentials for the launch

[2016-04-01 00:23] teaboz commented on #19
So, we are moving the marketing video to the top of the about page.
https://vimeo.com/151472643

Nadja is working on the text for it (use filler text for now, will be done by Saturday).

Fred is thinking of the design of the text/photos/body of the  something like this:
http://www.nytimes.com/2016/04/03/business/juicero-juice-system-silicon-valley-interest.html?action=click&contentCollection=Art%2

[2016-04-01 00:25] teaboz opened #34 "Front Page Revamp"
Alex--can you do this while RJ is working on the project pages?

https://dl.dropboxusercontent.com/u/10656919/HTML/frontpage.html

Fred is still tweaking it, but this is roughly what it should look like and what the text should be.

[2016-04-02 13:25] jasonoverby commented on #33
Done!

<img width="1242" alt="screen shot 2016-04-02 at 6 23 46 am" src="https://cloud.githubusercontent.com/assets/13720540/14226621/9bd67c0e-f89b-11e5-9297-b5aa20236190.png">

Curious about styling, though.  Let me know what you think.

[2016-04-02 14:22] teaboz commented on #33
Yeah, it looks kind of strange. Do you think it still will once we get more
donors? We are doing the crowdfunding campaign soon, so it will be
relatively soon...

On Sat, Apr 2, 2016 at 6:25 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creat

[2016-04-02 23:41] #24 closed

[2016-04-02 23:52] rjsheperd commented on #23
Which email should this go to?

[2016-04-02 23:55] #21 closed

[2016-04-02 23:56] rjsheperd commented on #32
If you want you can use the Pages section of the admin panel to do this. It will generate a URL based off of the title for now, but in the future we can allow you to set your own slug.

[2016-04-02 23:56] teaboz opened #36 "PDFs on Pages"
unsure how to add PDFs to overviews and lesson plans

[2016-04-02 23:56] rjsheperd commented on #22
What do you think of replacing this with the "Support our Kickstarter" once the kickstart campaign goes live?

[2016-04-02 23:57] teaboz commented on #23
tempest@doodles-academy.org

On Sat, Apr 2, 2016 at 4:52 PM, Richard Sheperd <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.facebook.com/DoodlesAcademy> *
*doodl

[2016-04-02 23:58] teaboz commented on #22
Kickstarter is mostly for friends/family and colleagues--but we can ask
Alessandra and Jordan what they think.

On Sat, Apr 2, 2016 at 4:56 PM, Richard Sheperd <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.c

[2016-04-03 00:00] #20 closed

[2016-04-03 00:27] #18 closed

[2016-04-03 00:55] teaboz opened #38 "Red text?"
Wondering why the text is red when it is italicized on the project overview pages

[2016-04-03 00:55] rjsheperd commented on #28
TODO: Blockquote for images, Vimeo video
JavaScript to replace Vimeo video with actual video

[2016-04-03 00:56] teaboz opened #39 "Grey box around standards"
Can we create a grey box around the standards on the overview page to differentiate it from the text up top?

[2016-04-03 02:23] teaboz opened #40 "style on overview pages--text wrapping around student example is weird"
when a description is too long it doesn't wrap correctly (see: Dream House, Lower Academy)

[2016-04-03 02:25] teaboz opened #41 "smaller text on copyright on overview pages"
Within the description on the overview pages, there is a copyright notice. Anyway to make this a smaller, possibly lighter text so it isn't as dominant?

[2016-04-03 02:25] #33 closed

[2016-04-03 02:27] #19 closed

[2016-04-03 02:40] teaboz opened #42 "Switch Upper/Lower Dream House"
Upper/Lower dream house got loaded in backwards--switch!

[2016-04-03 04:09] phantummm opened #43 "Set up domain name"
Migrate domain name from Squarespace to Hover.

[2016-04-03 14:18] teaboz opened #44 "'Next Project' Button on Lesson pages"
Should be 'next lesson' and go to the next lesson page, not a different project.

[2016-04-03 14:18] jasonoverby commented on #41
Is it this:

<img width="1207" alt="screen shot 2016-04-03 at 7 05 30 am" src="https://cloud.githubusercontent.com/assets/13720540/14232810/e800ed74-f96a-11e5-9544-e63517a69932.png">

If so, that's part of the markdown so you'll have to go into each lesson and add some html tags like this:

`<sub><sup>Some characters used in these lessons are ©Marvel Comics Group & ©DC Comics. Doodles Academy is i

[2016-04-03 14:20] teaboz commented on #41
cool--thanks!

On Sun, Apr 3, 2016 at 7:18 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.facebook.com/DoodlesAcademy> *
*doodles-academy.org <h

[2016-04-03 14:37] teaboz commented on #5
COuld we also have a pop-up while people are accessing the projects saying something like 'Sign up to receive notifications when there is a new project available'

[2016-04-03 14:38] jasonoverby commented on #41
Also, look here for some general markdown styling tips:

https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

[2016-04-03 14:39] teaboz commented on #41
bookmarked!

On Sun, Apr 3, 2016 at 7:38 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.facebook.com/DoodlesAcademy> *
*doodles-academy.org <htt

[2016-04-03 14:40] jasonoverby commented on #41
Word!  Unfortunately I don't think there's an easy way to manipulate color (but I'll keep looking!)

[2016-04-03 14:59] rjsheperd commented on #38
This is gone! :)

[2016-04-03 14:59] #38 closed

[2016-04-03 15:27] teaboz commented on #5
Change the text for the bottom newsletter sign up to say something like 'Stay in touch! Sign up to be notified of new projects & organization updates. '

[2016-04-03 16:27] #31 closed

[2016-04-03 16:57] jasonoverby commented on #44
Fixed by @rjsheperd

[2016-04-03 21:04] #44 closed

[2016-04-03 21:09] #41 closed

[2016-04-03 21:20] rjsheperd commented on #27
This is done, minus the uploading of images and PDF's

[2016-04-03 21:20] #34 closed

[2016-04-03 21:24] rjsheperd commented on #42
I just did this. Can you confirm that I did the right switcharoo?

[2016-04-03 21:41] #28 closed

[2016-04-03 21:42] #27 closed

[2016-04-03 21:53] teaboz commented on #42
looks good!

[2016-04-03 21:53] #42 closed

[2016-04-03 22:09] teaboz opened #45 "Inspiration image need to expand to full screen when clicked"

[2016-04-03 22:10] teaboz opened #46 "Image upload bug in lessons"
you can upload images and save them in the lessons, but when you go back into the lessons to edit the images are no longer there

[2016-04-03 22:25] rjsheperd commented on #46
This is working again!

[2016-04-03 22:25] #46 closed

[2016-04-04 00:11] phantummm opened #47 "Discuss merging subscription/user data models"
Might be good to keep track of mailing-list subscriptions on our side of things.

cc @rjsheperd @teaboz

[2016-04-04 00:54] rjsheperd commented on #47
Agreed. I think the other model that I've created but would like to merge at some point is the Member models.

[2016-04-04 01:01] phantummm commented on #47
@rjsheperd Sounds good to me. As I've been messing around with the MailChimp integration stuff, it's clear that it will be really nice/powerful if we build out a User/Member/Subscription concept in our data-model, and also something like an Options model to track the various data points that MailChimp uses. As it stands, it's crazy arduous to try to map some form inputs to the simple survey questi

[2016-04-04 01:05] phantummm commented on #5
Relevant discussion here: https://github.com/doodlesacademy/doodles/issues/47

Basic integration is working now, and I can pretty easily add a followup (optional) form for adding first and last names. However, adding the rest of the form fields from the contact page will be more complicated, as discussed in the issue linked above.

Should we leave it as a plain-old email signup for now, until we g

[2016-04-04 01:13] phantummm commented on #5
Another possible solution for the short term would be: user enters email, clicks subscribe button, and is then forwarded to the Contact page, with the email pre-populated. They fill it out, it sends the info to Tempest, who can manually enter it in MailChimp to keep track of the data.

This is far from optimal, obvs. But I would help with the manual entry if a ton of people sign up, and it would b

[2016-04-04 01:13] phantummm commented on #23
@rjsheperd Did you start on this? I'm not sure how mailers work on Heroku, since I doubt we have access to sendmail.

[2016-04-04 17:34] #22 closed

[2016-04-04 17:38] teaboz commented on #5
@phantummm I'm concerned with the second option not because of the work, but because people might not follow through the whole way and we would lose the lead. Is there a way to capture their email when they enter it and send it over to mailchimp, then have a popup come up with the email pre-filled out and the other stuff available for them to fill out? Mailchimp will just update their info if they

[2016-04-04 18:05] rjsheperd commented on #5
@teaboz can you point me in the direction of the Mailchimp login? I might
be able to take a look at this over my lunch break.

On Mon, Apr 4, 2016 at 10:38 AM, teaboz <notifications@github.com> wrote:

[2016-04-04 18:06] rjsheperd commented on #22
Nice job @phantummm

[2016-04-04 18:08] teaboz commented on #5
DoodlesAcademy, Ath7185769811! (or ath7185769811, or Ath7185769811)

[2016-04-04 19:52] teaboz opened #48 "Header on the About Page"
Per Fred: Put the Doodle Logo in the header area of the landing page, put the text that is there under it in two lines so it is centered.

[2016-04-04 19:54] teaboz opened #49 "Change Red button on Landing Page"
Change the red button on the landing page that says 'go to projects' (red=stop, just not the best color for it). Any other color from the brand book is fine.

https://drive.google.com/file/d/0B7Rpxamrcq2NM1YzaXlvZENBcVE/view?usp=sharing

[2016-04-04 19:56] teaboz opened #50 "Quotes Area"
1) Can we put a circle photo of people in the testimonials—fake until we get real photos--like the photos on the mock up version

2) change the picture to light grey (the picture is being used on another page)

3) not italicized

[2016-04-04 19:57] teaboz opened #51 "additional text on artwork quilt"
on the landing page, in the artwork quilt, include the text 'Artwork from Near & Far project' underneath so it is clear that the artwork is all from the same project

[2016-04-04 19:58] teaboz opened #52 "Minor changes to Lesson Pages"
1)Above H1 there should be a thin grey line
2) Inspiration, Introduction, Worktime, Cleanup should all be numbered 1,2,3,4
3) Put the time back on the header line, and even if they can’t be different formats, just differentiate with a comma

[2016-04-05 12:21] jasonoverby commented on #48
@teaboz @fuhred

Put the logo above the text that starts with "Our Story" or somewhere else?  See screenshot:

<img width="1238" alt="screen shot 2016-04-05 at 5 18 57 am" src="https://cloud.githubusercontent.com/assets/13720540/14281454/205ddc20-faee-11e5-8596-3e5c864d10f9.png">

[2016-04-05 12:56] jasonoverby commented on #49
Fixed!

[2016-04-05 13:03] jasonoverby commented on #51
Like this:

<img width="933" alt="screen shot 2016-04-05 at 6 01 57 am" src="https://cloud.githubusercontent.com/assets/13720540/14282615/0d5ec246-faf4-11e5-92a8-7afb25cf1020.png">

[2016-04-05 13:51] teaboz commented on #48
No, on the landing page. So above 'Students aren't carbon copies...'

On Tuesday, April 5, 2016, Jason Overby <notifications@github.com> wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.face

[2016-04-05 13:52] teaboz commented on #51
Yep. Can we make it one size smaller?

On Tuesday, April 5, 2016, Jason Overby <notifications@github.com> wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.facebook.com/DoodlesAcademy> *
*doo

[2016-04-05 13:58] jasonoverby commented on #52
Number 1 is done:

<img width="1075" alt="screen shot 2016-04-05 at 6 20 15 am" src="https://cloud.githubusercontent.com/assets/13720540/14283158/ef149ed4-faf6-11e5-855c-3137343ac286.png">

Re 2: I think those are reflecting the markdown below.  You would need to change the markdown for each lesson & add numbers (but it would change the text in the body as well) - @rjsheperd is that correct?

@tea

[2016-04-05 14:02] jasonoverby commented on #51
Yep:

<img width="988" alt="screen shot 2016-04-05 at 7 01 41 am" src="https://cloud.githubusercontent.com/assets/13720540/14284411/4f3b2c92-fafc-11e5-8e69-3546c3cd08b0.png">

[2016-04-05 15:01] fuhred commented on #52
Re 3: right now the minutes estimated per section are on their own separate
line (because different formatting can't exist on the same line?). the
introduction section takes 5 minutes, so the heading should say
INTRODUCTION, 5m, even if they can't be formatted differently.

On Tue, Apr 5, 2016 at 9:58 AM, Jason Overby <notifications@github.com>
wrote:

[2016-04-05 15:13] teaboz commented on #51
Perfect!

[2016-04-05 15:13] #51 closed

[2016-04-05 15:14] teaboz commented on #49
Nice choice. I think that blue is everyone's favorite color out of the bunch @fuhred

[2016-04-05 15:14] #49 closed

[2016-04-05 17:08] jasonoverby commented on #48
What about this:

<img width="1215" alt="screen shot 2016-04-05 at 10 08 03 am" src="https://cloud.githubusercontent.com/assets/13720540/14291039/5c641d10-fb16-11e5-80d4-6376fcccfee5.png">

[2016-04-05 17:13] teaboz commented on #48
@fuhred--what do you think? Is that the size you were thinking?

[2016-04-05 17:17] jasonoverby commented on #52
Oh, I see.  I think that is also something that would have to be changed in the markdown for each lesson.  Unfortunately I am unable to access the admin panel at the moment so I can't check this theory. @rjsheperd ?

[2016-04-05 17:18] fuhred commented on #48
- 350x350
   - <h2 style="margin-top: *-30*px;"> Students aren't carbon copies.</h2>
   - remove the quotation mark from the second line

thanks!

On Tue, Apr 5, 2016 at 1:13 PM, teaboz <notifications@github.com> wrote:

[2016-04-05 17:22] jasonoverby commented on #48
@fuhred were you wanting to add or remove space b/w elements by changing "-10" to the margin to "-30"? Reason I ask is "-30" is too much, but I could do "-20"

[2016-04-05 17:23] jasonoverby commented on #48
@fuhred How about now:

<img width="1116" alt="screen shot 2016-04-05 at 10 23 01 am" src="https://cloud.githubusercontent.com/assets/13720540/14291424/6a5188de-fb18-11e5-8a40-a8c83a7eba1f.png">

[2016-04-05 17:30] fuhred commented on #48
yes, i would like to reduce the space between the logo and the copy. why is
-30 too much when -20 is ok?

On Tue, Apr 5, 2016 at 1:23 PM, Jason Overby <notifications@github.com>
wrote:

[2016-04-05 17:32] jasonoverby commented on #48
It all changed when I resized the image.  Here is -65, which I think looks good, but let me know if you'd like there to be slightly more or less space:

<img width="1217" alt="screen shot 2016-04-05 at 10 31 22 am" src="https://cloud.githubusercontent.com/assets/13720540/14291722/affef7f8-fb19-11e5-8deb-9fd6248a0163.png">

[2016-04-05 17:42] fuhred commented on #48
oh interesting! I am just messing around with it with Chrome's Inspect
feature.

can you give more space? approx 1.5x the existing space. (right now it
reads too much as part of the logo). thanks!

On Tue, Apr 5, 2016 at 1:32 PM, Jason Overby <notifications@github.com>
wrote:

[2016-04-05 17:45] jasonoverby commented on #48
This is -50:

<img width="1223" alt="screen shot 2016-04-05 at 10 44 27 am" src="https://cloud.githubusercontent.com/assets/13720540/14292109/7082f168-fb1b-11e5-820b-bd1af5a4d13f.png">

[2016-04-05 17:51] fuhred commented on #48
looks good. thanks jason!

On Tue, Apr 5, 2016 at 1:45 PM, Jason Overby <notifications@github.com>
wrote:

[2016-04-05 17:51] jasonoverby commented on #48
Word up!

[2016-04-06 03:10] teaboz commented on #48
Hurrah!

[2016-04-06 03:10] #48 closed

[2016-04-06 03:12] teaboz opened #53 "Buttons on 'About Page'"
Per Nadja's suggestion: can we add two bands to the bottom of the 'about page'? Just like on the landing page. One that has a button in it saying saying 'lessons' and the other the donate button copied from page 1?

Nadja made the point that if someone goes all the way down, they would probably be interested.

[2016-04-06 03:14] teaboz commented on #39
I'm thinking we can do this in the same way as the bands on the front page, so just a light grey section as background differentiating the standards from the overview

[2016-04-06 04:18] phantummm commented on #5
Merged intermediate fix. Closing this ticket in favor of ticket about full data-model: https://github.com/doodlesacademy/doodles/issues/47

[2016-04-06 04:18] #5 closed

[2016-04-06 04:49] phantummm commented on #17
We good here.

[2016-04-06 04:49] #17 closed

[2016-04-06 04:50] phantummm commented on #43
Moved domain name to Hover, mapped to Heroku and remapped for email.

[2016-04-06 04:50] #43 closed

[2016-04-06 04:52] phantummm commented on #16
This is a solved problem: use JWT (perhaps via something like knock: https://github.com/nsarno/knock), and just build it around our Devise setup.

Any followup will happen in tickets concerning Ember stuff, I'd guess.

[2016-04-06 04:52] #16 closed

[2016-04-06 05:25] phantummm opened #55 "Donate button shouldn't get underline on hover/current"
I introduced this when making the button a link. The desired functionality would be that it should have the darker, button-esque background color with no underline on hover/when it is the current page.

[2016-04-06 05:30] #55 closed

[2016-04-06 06:50] phantummm opened #58 "Stop using WEBrick on production"
We currently have Unicorn in the gem file, but Heroku is running the site with WEBrick nonetheless. :disappointed:

So, either change config to actually use Unicorn, or switch to Puma as Heroku recommends: https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server

[2016-04-06 07:06] phantummm commented on #47
Ok, so here's how we'll do this:

* Subscribing to the mailing list will create an instance of the `Subscription` class. Creating this record will also hit the MailChimp API and create the subscription there.
* We will keep local records of the "interests" registered with MailChimp (data-points like "location", "how are you involved...", et cetera) as instances of a `SubscriptionOption` class.
* W

[2016-04-06 07:15] phantummm opened #59 "Create Subscription model"
Create `Subscription` model for managing MailChimp subscriptions. Can eventually be associated with a `User` or whatever.

- [ ] knows how to create/update itself against the MailChimp API (via the `SubscriptionService`)
- [ ] maintains associations with `SubscriptionOptions` (which mirror MailChimp "interests")

[2016-04-06 07:19] phantummm opened #60 "Create SubscriptionOption model"
Tracks the categories of "interests" that MailChimp knows about and can be used to populate forms/update associated `Subscription` records. Can also be used for the contact page.

- [ ] can be created directly from MailChimp's API format

[2016-04-06 07:24] phantummm opened #61 "Create SubscriptionOptionValue model"
This is the actual thing that a person chooses to fill in a `SubscriptionOption`. There will need to be a three-way join between `Subscription`, `SubscriptionOption`, and `SubscriptionOptionValue` to keep track of these. Fun!

- [ ] again, knows how to get created from a MailChimp API splat

[2016-04-06 07:25] phantummm opened #62 "Create sync tasks for Subscription data et al"
Need `rake` tasks for:

- [ ] sync `Subscription` with MailChimp "members"
- [ ] sync `SubscriptionOption` and `SubscriptionOptionValue` with MailChimp "interests"

[2016-04-06 07:27] phantummm commented on #23
Details pertinent to this are here: https://github.com/doodlesacademy/doodles/issues/47

TL;DR: the contact form will be built to use the same fields/options as the MailChimp subscription and, in fact, checking the "subscribe" box will really just create a subscription on the backend.

[2016-04-06 07:56] phantummm opened #63 "Create Contact page w/ option-integration"
Integrate the contact form with the `Subscription` and `SubscriptionOption` stuff, as described here: https://github.com/doodlesacademy/doodles/issues/47#issuecomment-206165863

Either:
1. Keep the `ContactRequest` model, and have it know how to create a corresponding `Subscription` and attendant `SubscriptionOption`s
**...or...**
2. Have the form interact directly with the `Subscription` model an

[2016-04-06 08:21] phantummm opened #64 "Add site-wide flash/message-display for error state"
Since we're dealing with some user-input, and will be dealing with more in the future, we need to add a message flash for displaying error/success messages as feedback.

@fuhred @rjsheperd @teaboz Let's make it look siiiiiick.

[2016-04-06 08:49] #23 closed

[2016-04-06 08:50] phantummm opened #66 "Back-end test coverage"
Once we get room to breathe, I want to prioritize getting test-coverage around all the back-end code.

[2016-04-06 08:57] phantummm opened #67 "Add model validations/messaging"
We need validations on any model that takes user input:
- [ ] `Subscription`
- [ ] `SubscriptionOption`
- [ ] `SubscriptionOptionValue`
- [ ] `ContactRequest`

This is sort of blocked by this: https://github.com/doodlesacademy/doodles/issues/64 ...as validations without a mechanism for reporting invalid state is useless/confusing. For that reason, I've removed it from the `ContactRequest` object,

[2016-04-06 09:10] phantummm opened #68 "Question: why auto-deploy from Github?"
@rjsheperd I've run into a couple situations now where us using the auto-deploy from `master` feature on Heroku has confused me. Are you married to this way of doing things? I'm not super-opinionated about it, just wondering what the pros are. The biggest cons that I've noticed are:

1. Checking compiled assets into Git. Gross! :mask:
2. Not getting the console output from the deploy process, whic

[2016-04-06 09:44] phantummm opened #69 "Make GET route for logging out"
Devise does that annoying (that is to say, dogmatically RESTful) thing where to hit a sign-out/destroy session controller-action, you have to actually send a `DELETE` request. Problem is, this is a pain to do, and so we get a situation where I logged in as a dummy user (created while testing the Sign Up link **that we expose** at `/admin` :grimacing:), and now can't really clear my session without

[2016-04-06 09:47] phantummm opened #70 "Shore up Devise views/actions"
So I noticed that, when not logged in, if a user surfs to `/admin`, they get the boilerplate Devise login view, with a link to a Sign Up page. New users don't default to admin status, so it's not a five-alarms situation, but given that we haven't rolled out any user-creation or user-based features, we should probably hide/block it.

This will relate to decisions we make about building out user-bas

[2016-04-06 13:19] jasonoverby commented on #52
@fuhred @tempest verified that this is indeed the case.

For **2** Trying to work this out.  I'll keep working on it, but this is the best I've been able to manage:
<img width="1008" alt="screen shot 2016-04-06 at 6 18 18 am" src="https://cloud.githubusercontent.com/assets/13720540/14317945/7cb46346-fbbf-11e5-9b18-d2402635ce47.png">
@rjsheperd is there a way to target just the second line of this?

[2016-04-06 14:45] teaboz commented on #64
So we need a design that says something like "your message was saved" or,
"Sorry, there was an error"

On Wed, Apr 6, 2016 at 1:21 AM, Alex Hunley <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesaca

[2016-04-06 14:49] phantummm commented on #64
Examples of flash messages:

![image](https://cloud.githubusercontent.com/assets/2888017/14320943/f5c3b104-fbcb-11e5-980e-1f04fd0ff6b2.png)

![image](https://cloud.githubusercontent.com/assets/2888017/14320953/0647491e-fbcc-11e5-8ee9-416c976f43e3.png)

[2016-04-06 14:50] jasonoverby commented on #52
@rjsheperd @teaboz @fuhred
Worked it out:

<img width="1156" alt="screen shot 2016-04-06 at 7 49 30 am" src="https://cloud.githubusercontent.com/assets/13720540/14321004/435de6d2-fbcc-11e5-86c0-525bcd5de3d7.png">

[2016-04-06 15:05] rjsheperd commented on #68
I'm not totally married to it, but I do think it gets us as close to
continuous delivery as I can see us managing at the moment. If you think
there's a way to support continuous delivery differently, I'm all ears. :)

On Wed, Apr 6, 2016, 2:10 AM Alex Hunley <notifications@github.com> wrote:

[2016-04-06 15:08] rjsheperd commented on #47
Not sure if this may simplify things but rather than create a new subscription option/subscription value, what do you think of using a JsonB store and just dumping the key value pairs in there?

[2016-04-06 15:13] rjsheperd commented on #47
Yeah I think that's great. Thanks for taking the time to plan this out. :)

On Wed, Apr 6, 2016, 12:06 AM Alex Hunley <notifications@github.com> wrote:

[2016-04-06 16:05] phantummm commented on #68
@rjsheperd Fair point. I guess I'm not clear on the pros of continuous delivery for a project this size, given the pain-points I mentioned. It seems like Heroku deploys aren't any more complicated than pushing to Github. The one thing I do think is nice about it is having the defined, one-way pipeline of: Local –> Github –> Heroku, as opposed to Local –> Github && Local –> Heroku.

I'll look into

[2016-04-06 16:52] phantummm commented on #47
@rjsheperd I feel like those `jsonb` columns are like the sirens trying to sing us to our doom. Very tempting, but I've never known anything but pain from them once any changes are needed. I'd definitely want a good strategy we can stick to so that they don't just turn into thoughtless places to dump whatever.

Plus, JSON columns are a gateway drug that lead inexorably to NoSQL DBs.

[2016-04-06 18:01] teaboz opened #71 "Image Quilt"
Is there a way to make the image quilt on the landing page a little longer so that there is yellow at the bottom as well as the top? It looks cut off. @fuhred @jasonoverby

[2016-04-07 11:51] jasonoverby commented on #71
@teaboz This was happening because the image is kinda small.  I fixed it by tweaking the styling a bit.

old version:
<img width="883" alt="screen shot 2016-04-07 at 4 49 53 am" src="https://cloud.githubusercontent.com/assets/13720540/14350108/36747afc-fc7c-11e5-84cd-b88be1bd3ab6.png">

new version:
<img width="879" alt="screen shot 2016-04-07 at 4 50 25 am" src="https://cloud.githubusercontent.co

[2016-04-07 12:18] jasonoverby commented on #53
Done!  Copied exactly, but would you rather change any text, etc?

[2016-04-07 12:25] jasonoverby commented on #50
@teaboz In this area?
<img width="1170" alt="screen shot 2016-04-07 at 5 25 00 am" src="https://cloud.githubusercontent.com/assets/13720540/14350919/213cfd80-fc81-11e5-85c9-67c71be3a784.png">

[2016-04-07 15:06] teaboz commented on #71
Great! Thanks.

[2016-04-07 15:06] #71 closed

[2016-04-07 15:11] teaboz commented on #50
Yep. And by picture I meant the background picture--just make it a light gray band.

[2016-04-07 15:11] teaboz commented on #53
Yeah, I think we should make them briefer. Let's say that the lessons can
just say: We make high-quality art education easy. And then the
button--skipping th other text. Also--could we add a band of color (even
just grey?) to differentiate it from the text above?
For the donate, let's just have the part that says: Donations help us
develop and offer our free classes and free online curriculum, bri

[2016-04-08 11:36] jasonoverby commented on #53
Got it.  See below (3 separate images).  Let me know about further styling.  I added a white margin b/w the sections & changed the text above the lessons area from a headline to a paragraph tag, but it would be easy to adjust those.

<img width="1060" alt="screen shot 2016-04-08 at 4 33 21 am" src="https://cloud.githubusercontent.com/assets/13720540/14382499/2ac60bcc-fd43-11e5-91e8-6bfedb9207d8.pn

[2016-04-08 12:38] jasonoverby commented on #50
What about this:

<img width="1208" alt="screen shot 2016-04-08 at 5 35 16 am" src="https://cloud.githubusercontent.com/assets/13720540/14383734/cd088a9c-fd4b-11e5-84f5-b483bda169ad.png">

It's going to be a bit complicated (requires javascript) to have the image change as the quote changes, but I'm sure it can be done.

I also think it looks nice w/out the image:

<img width="1200" alt="screen sh

[2016-04-08 14:01] teaboz commented on #53
I like the text choices here (smaller), but it looks like they are big on
the site itself.

Can we also try a really light grey--try this from the brand book: CMYK 12,
9, 8, 0

RGB 221, 222, 224

HEX #DDDEE0

Also--on the site itself the donation area is white, not green, on the
about page

On Fri, Apr 8, 2016 at 4:36 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*E

[2016-04-08 14:02] teaboz commented on #50
Try that same light grey:

CMYK 12, 9, 8, 0

RGB 221, 222, 224

HEX #DDDEE0

@fred, see Jason's questions irt image.

On Fri, Apr 8, 2016 at 5:38 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagra

[2016-04-08 14:12] teaboz commented on #53
@jasonoverby: IRT the donate and Lesson Plan buttons…what if we eliminated the text ltogether? So just two buttons? I feel like that might be cleaner.

![mockup](https://cloud.githubusercontent.com/assets/17777336/14386365/4281f9c2-fd59-11e5-935f-41b98d3654d9.jpg)

[2016-04-08 14:36] jasonoverby commented on #50
harder to read with a lighter grey if we leave the text white:

<img width="1132" alt="screen shot 2016-04-08 at 7 34 31 am" src="https://cloud.githubusercontent.com/assets/13720540/14387080/7ea96914-fd5c-11e5-8fed-090b8bb41bfb.png">

and a darker color for text still doesn't look great to me:

<img width="1130" alt="screen shot 2016-04-08 at 7 34 11 am" src="https://cloud.githubusercontent.com/as

[2016-04-08 14:41] teaboz commented on #50
@fuhred: what do you think?

[2016-04-08 14:45] jasonoverby commented on #53
like this?

<img width="1179" alt="screen shot 2016-04-08 at 7 44 25 am" src="https://cloud.githubusercontent.com/assets/13720540/14387328/c0934ace-fd5d-11e5-84f5-6f0fabc73e0d.png">

[2016-04-08 14:46] teaboz commented on #53
Yeah. I think that looks great!

On Fri, Apr 8, 2016 at 7:45 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<https://www.facebook.com/DoodlesAcademy> *
*dood

[2016-04-08 14:49] teaboz opened #72 "Copy Editing"
We have someone going through and copy-editing the text. I'm going to make the edits to the project pages/pages I have access to, but I don't have access to all. So these are the edits I cannot make (there will be a round two when he's done--sorry, I know it's not exciting work).:

HOME PAGE and FOOTER:

1)
“Our mission is to expand children's access to high-quality arts education; we work to remo

[2016-04-08 14:51] jasonoverby commented on #53
Cool!  Updated on site!

[2016-04-08 15:15] #53 closed

[2016-04-08 15:16] teaboz commented on #39
Or the blue color that we used for behind the inspiration image

[2016-04-08 19:29] teaboz commented on #72
Here's the remainder:

SUPPORTERS:

1)

“Community Supporters” is in title case (initial caps) whereas “donors” and

“community partners” are all l/c; then back to initial caps for “Portland Child Art

Studio.”

Use initial caps also for “Donors” and “Community Partners”?

2)

Elsewhere (including their website) Portland Child Art Studio is not prefaced by

“the,” so I would delete it from:

“The

[2016-04-10 14:20] teaboz commented on #36
@jasonoverby @phantummm

[2016-04-10 14:20] teaboz commented on #45
@phantummm @jasonoverby

[2016-04-10 15:06] teaboz opened #73 "Change Markdown Template"
On the 'project page'

eliminate 'Skills'

Setup rather than Set Up

[2016-04-10 16:58] teaboz opened #74 "Button on Lesson Overviews"
@fuhred

I think we talked about this, but I'm not sure it made it in the final design. We're trying to figure out a way to prioritize the overview part of the Project pages rather than the Standards (hence the grey background there is a another ticket out for). Would it be easy to add a button under the photocopies/copyright info that separates the top from the standards and says 'Lesson 1' or so

[2016-04-10 18:09] teaboz commented on #52
@jasonoverby: I have to go through each lesson page today to make sure it is accurate, so I'll change the minutes to the same line on the existing lessons since it has to be done manually. Is there a way to add that to the general page template, though, so that in the future it doesn't have to be done manually?

[2016-04-10 18:31] teaboz commented on #72
Lesson 1, the Synopsis "Under “Lesson 1”

1)
...each superhero had his or her own unique backstory that told who they were,...
Use present tense?
...each superhero has his or her own unique backstory that tells who they are,...

2)
Overview/Synopsis repeats Creating a Backstory verbatim. If that is intended, make the above change (#1) here as well
"

[2016-04-10 18:37] jasonoverby commented on #52
@teaboz There is a way to eventually add that to the template, but @phantummm and I would need to work that out.

[2016-04-10 18:57] jasonoverby commented on #72
@teaboz Are you planning to change the above w/r/t lessons in the markdown?

I have changed almost everything else listed above that.  A few notes and exceptions:

- **About Us**: "individualized" has been changed to "inefficient".  Let me know if you are cool with that.
- **Team**: "The Board" has been changed to "Board of Directors".  It seems more professional.  Let me know if that is alright.

[2016-04-10 18:59] teaboz commented on #72
@jasonoverby
I can't access the synopsis section in markdown. I have to go through all the lessons and delete the synopsis that is included in markdown, because it is also included as text at the top (not in markdown) so it repeats weirdly.

[2016-04-10 19:00] jasonoverby commented on #72
@teaboz I'll take another look at that.

[2016-04-10 19:01] teaboz commented on #72
@jasonoverby: the rest of the edits/notes seem fine, thanks!

[2016-04-10 19:01] jasonoverby commented on #72
Of course!

[2016-04-10 19:53] jasonoverby commented on #72
@teaboz so you just removed the synopsis from the lesson, correct?

[2016-04-10 19:54] teaboz commented on #72
I did, but I wonder if that was a mistake, because now it disappeared in both places! As well as the inspiration image and video...

[2016-04-10 20:01] jasonoverby commented on #72
Did you adjust anything else?  Was this only on lower academy creating a back story?

[2016-04-10 20:02] teaboz commented on #72
Both upper and lower 'Creating a Backstory'.

I adjusted some stylistic things--moving the time up to the same line, making sure things were italicized correctly, and adding Stephen's copy-edit suggestions

[2016-04-10 20:18] jasonoverby commented on #72
Gotcha - I had copied the text for the Lower Academy earlier & by pasting it in as before it fixed it so that inspo image appears & there is a space for the video (but it is saying that video does not exist).  I had not copied the text for Upper Academy - do you have that? I think a very specific structure was created that has to be adhered to or it will break things like the inspo & video links,

[2016-04-10 20:20] teaboz commented on #72
Student artists learn to recognize shapes and types of lines as they design and draw their own superheroes.  They begin by creating a book that tells the backstory of their superhero using their choice of drawing, writing, or a combination. They then move on to isolating graphic images into basic curved lines and using a handout to copy disparate parts of a superhero into their own unique characte

[2016-04-10 20:23] teaboz commented on #72
@jasonoverby: did I just break it again? all I did was move the minutes up to the line with the header area

[2016-04-10 20:23] teaboz commented on #72
I think I'm not understanding, sorry

[2016-04-10 20:24] teaboz commented on #72
So I can't make stylistic edits? Can I make edits to the content?

[2016-04-10 20:24] jasonoverby commented on #72
Call me

[2016-04-10 20:42] teaboz commented on #72
@rjsheperd: see above. We're not making stylistic (css) changes per @fuhred until we hear from you if that might be the reason things are breaking and how to prevent that.

[2016-04-10 20:44] teaboz commented on #72
specifically, we were trying to delete the synopsis from the lesson plans because it shows up twice (once by the example image and once in the text) and we were trying to move the times within the lesson plan to the same line as the 1./2./3./4. sections

[2016-04-10 20:51] teaboz commented on #72
Just to make things more clear, I'm going to close this ticket, but open a new one specifically for the stylistic changes.

[2016-04-10 20:51] #72 closed

[2016-04-10 20:52] teaboz opened #75 "Stylistic Changes to the Lessons"
1) the synopsis from the lesson plans shows up twice (once by the example image and once in the text)
2) move the times within the lesson plan to the same line as the 1./2./3./4. sections
3) Move the Inspiration Image below, rather than above, the header  "LOOK AND DISCUSS AN ART PIECE THAT INTRODUCES SOME OF THE LESSON CONCEPTS."

[2016-04-11 12:10] jasonoverby opened #76 "Add downloadable PDFs"
@teaboz Where specifically on the site would you like the PDFs?

Also, I see PDFs for the Superhero lessons [here](https://drive.google.com/open?id=0B7Rpxamrcq2NNVEzSWtFd2ZYSjA) on Google Drive, but I can't find PDFs for the other lessons.  Could you point me in the right direction, or shoot those my way?

[2016-04-11 12:13] jasonoverby commented on #75
@phantummm look at lesson.rb

I see how to make it so that synopsis can be deleted and insp img & video will still appear, but I don't think there's a way to do that & still include the synopsis at the top.

@teaboz Would it be preferable to have it as is (with synopsis listed twice) or to only have synopsis in the section below (which I can make happen)?

[2016-04-11 12:18] jasonoverby opened #77 "Make pdf on classes page into html"
It seems like it would be preferable to factor this image on the "PDX CLASS" page into html:
![pdx_class-552781220233973765b0ccb8dc4b4f014db3096620e95f2f7231a2c919ccfbe8](https://cloud.githubusercontent.com/assets/13720540/14426543/8e31758a-ffa4-11e5-82f4-f64d2d0d1dfe.png)

@fuhred @teaboz could you help with some design?  I can do the coding part once I have a better idea of how y'all want it to

[2016-04-11 14:25] teaboz commented on #76
On the project page, there is a section for photocopies, and has a list if there is any photocopies that go along with that lesson.

[2016-04-11 14:26] teaboz commented on #76
The downloads should be in the drop-box folder, under curriculum & the appropriate section, usually under a 'handouts' link...let me get you some more specifics links in a sec

[2016-04-11 14:32] teaboz commented on #75
@jason: preferable to have it twice, I think, otherwise there's a big empty
space at the top

On Mon, Apr 11, 2016 at 5:13 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to provide the tools necessary for art lessons that inspire
students to meet their creative potential. *
*Instagram <https://instagram.com/doodlesacademy/>

[2016-04-11 14:35] teaboz commented on #77
What if we mostly copied the 'about page'? So just text with some photos interspersed?

[2016-04-11 14:36] teaboz commented on #77
![screen shot 2016-03-30 at 2 03 52 pm](https://cloud.githubusercontent.com/assets/17777336/14430895/1e830190-ffb8-11e5-856a-1f4f78c2fbe5.png)

[2016-04-11 14:38] teaboz commented on #77
There's also the original picture:
![ariful3rdgrade copy](https://cloud.githubusercontent.com/assets/17777336/14430972/701bcc44-ffb8-11e5-9b60-49bf2d37de1c.jpg)

[2016-04-11 14:42] teaboz commented on #52
Closing this b/c the only thing left is the minutes and that has proven to be a bigger issue with it's own ticket.

[2016-04-11 14:42] #52 closed

[2016-04-11 14:46] teaboz commented on #76
Upper Superheroes: https://www.dropbox.com/sh/zwt5563s2iflzmh/AADHnhL7u72139TyYocfx-Eta?dl=0

[2016-04-11 15:47] teaboz commented on #73
Suggested edits to the lesson template (edited the time, so don't know if that will work) :
# Overview
## Synopsis

## Objective

## Setup
Students will be working individually and choosing their own materials, so have materials set up in a way that is easy to pass out as well as easy for the students artists to see and select from.

## Materials

## Photocopies

## Media

# Lesson
## Inspiration,

[2016-04-11 15:48] teaboz commented on #73
So it looks like it formatted it above! Not intended.

[2016-04-12 13:25] jasonoverby commented on #76
Got it.  All lessons & overviews have been updated with clickable/downloadable PDFs.

You should definitely check each one to make sure it's exactly what you want.  Let me know if you need changes to be made, and either I can do it or explain to you how to do it.

[2016-04-12 14:28] teaboz commented on #76
@jasonoverby
Awesome sauce! Most were perfect. But some weirdness on Artist Statements:

Superheroes Upper Academy Artist Statement--it has the lower academy (L) listed instead.
Symbol & Self Upper Artist Statement says 'doesn't exist' when I click
Symbol & Self Lower and Dream House Lower Artist Statements are actually the Upper Artist statement

And then, I don't know if this is possible, but co

[2016-04-12 14:41] jasonoverby commented on #76
No probs!

All fixed incl. adding doc file for "A Toy's Story" in place of the pdf, but check & make sure, por favor.

& yes, let's look at it together on Thurs.

[2016-04-12 14:42] teaboz commented on #76
Looks good! You are the best!

[2016-04-12 14:42] #76 closed

[2016-04-12 14:43] teaboz commented on #36
Jason did this!

[2016-04-12 14:43] #36 closed

[2016-04-12 14:45] jasonoverby commented on #76
Yay!  Glad it worked!

[2016-04-12 14:47] teaboz opened #78 "Goofy looking citations"
The citations under the inspiration images look goofy because they are all jumbled together. Can we put a break between the description and the Title?

[2016-04-12 15:06] fuhred commented on #74
In my mockup there was a "Lesson 1" button on the Overview page right where
you just proposed. Jason that should be easy to add right?

[image: Inline image 1]

I think the tone of *Wow! and Amazing!* is inconsistent with the rest of
the site, so I think those should be striked. But I do think "Lesson X
finished!" or something else congratulatory would be good.

On Sun, Apr 10, 2016 at 12:58 PM, t

[2016-04-12 15:12] fuhred commented on #50
I like the darker gray background. Once you figure out how to integrate the
photo, I think there are two ways to go for format:

1) if the image stays where it is, the quote and name should be
left-aligned with some more space between the photo and the text than there
currently is, or
2) the image on top, and quote and name remain center-aligned

On Fri, Apr 8, 2016 at 10:41 AM, teaboz <notificati

[2016-04-12 18:00] fuhred commented on #77
@jasonoverby hi jason, here is a mockup we made.
https://dl.dropboxusercontent.com/u/10656919/HTML/pdx_classes.html

On Mon, Apr 11, 2016 at 10:38 AM, teaboz <notifications@github.com> wrote:

[2016-04-12 22:57] teaboz opened #79 "change wording on front page"
'art lessons that inspire real creativity'

rather than

'challenging art lessons inspire real creativity'

[2016-04-13 02:00] teaboz opened #80 "Minor changes to Supports Page"
@fuhred had some feedback:

1) "View available classes here" is missing a link

2) Change "If you are interested in signing up for a class, please use our contact page." to "
"If you are interested in signing up for a class, please visit the PDX Class page." With link

3)  the donation list should start at the left of the screen (under the donors) rather than being centered

[2016-04-14 11:16] jasonoverby commented on #80
This one is done

[2016-04-14 11:23] jasonoverby commented on #79
Did you want:
"_art lessons **that** inspire real creativity_"
**or**
"_art lessons inspire real creativity_"

Were you wanting just to remove the word "_**Challenging**_" or change the sentence?  I ask b/c "_art lessons **that** inspire real creativity_" is not a complete sentence.

[2016-04-14 13:59] teaboz commented on #80
Hurrah! Crossing them off....

[2016-04-14 13:59] #80 closed

[2016-04-14 14:01] teaboz commented on #79
Mostly the goal is just to remove the word challenging...Nadja thought the word might be challenging for people.

[2016-04-14 14:42] jasonoverby commented on #79
Now that I look at it "art lessons **that** inspire real creativity" makes more sense in context.  Done!

[2016-04-14 14:55] jasonoverby commented on #80
Yes!

On Thu, Apr 14, 2016 at 6:59 AM -0700, "teaboz" <notifications@github.com> wrote:

Hurrah! Crossing them off....

—
You are receiving this because you were assigned.
Reply to this email directly or view it on GitHub

[2016-04-14 16:59] jasonoverby commented on #78
I can do this:
<img width="1189" alt="screen shot 2016-04-14 at 4 28 16 am" src="https://cloud.githubusercontent.com/assets/13720540/14536400/0dfc4fae-0227-11e6-9aed-a7f1a40bcb4f.png">

For anything more, it would be best to add a inspiration_image_title to the data model.  @phantummm can we chat about that tonight?  I tried to do it on my own, but I was unsuccessful.

[2016-04-14 16:59] jasonoverby commented on #77
@fuhred @teaboz this is great!  I will make that happen over the next week or so.

[2016-04-14 17:16] teaboz commented on #78
That's way better than it was!

On Thu, Apr 14, 2016 at 9:59 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to expand children's access to high-quality arts education.
We work to remove barriers for educators, and strive to make it easy to
offer excellence.*
*Instagram <https://instagram.com/doodlesacademy/> & **Facebook
<ht

[2016-04-14 18:12] jasonoverby commented on #78
Cool!  I switched all of them to be that way!

[2016-04-14 18:41] jasonoverby commented on #78
Actually, like this:
<img width="1059" alt="screen shot 2016-04-14 at 11 41 58 am" src="https://cloud.githubusercontent.com/assets/13720540/14539579/d5bafcf8-0235-11e6-9ec3-f3a25b22b56b.png">

[2016-04-14 20:55] teaboz commented on #78
Hurrah!

[2016-04-14 20:55] #78 closed

[2016-04-16 22:39] jasonoverby commented on #77
@fuhred @tempest done!

[2016-04-17 13:30] jasonoverby commented on #77
Note @fuhred that I altered the design slightly.  In your mock-up, in the bottom info section there are links that are underlined but that have a black font color.  I made these the standard blue we've used in the page for links b/c there's already a link at the top of the page that's blue.

Happy to make more consistent with your mock-up if that's preferable :)

[2016-04-17 14:27] jasonoverby commented on #74
@teaboz @fuhred Unfortunately the site is not set up to allow me to add a button in that spot.  We should chat about a better structure for adding content to the project overviews & lesson plans and then @phantummm and I can refactor that aspect of the site.

I removed the congratulatory words so that it just reads "Lesson X finished!" at the bottom.

[2016-04-17 14:35] teaboz commented on #74
Argh. Ok. So far 1)button 2)captions 3)time stamp for lessons (right? am I
forgetting anything?)

On Sun, Apr 17, 2016 at 7:27 AM, Jason Overby <notifications@github.com>
wrote:

--
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to expand children's access to high-quality arts education.
We work to remove barriers for educators, and strive to make it easy to
offer excellence.*
*

[2016-04-17 15:03] jasonoverby opened #81 "Refactor admin pages for project & lesson creation"
Here is the initial wish list from @teaboz

- button to jump to lesson 1 before "Standards" on project overview page. @phantummm I'm thinking we would want to have two larger text fields for the markdown, one for project overview & one for standards)
- 2-3 input fields for image captions (title, artist?, description)
- time stamp for lessons
- removing the "Synopsis" within the "Overview"

@fuhred

[2016-04-17 15:03] jasonoverby commented on #74
@teaboz Word.  I created a separate issue for your list, etc.  Closing this issue...

[2016-04-17 15:03] #74 closed

[2016-04-17 15:04] #79 closed

[2016-04-17 15:06] #75 closed

[2016-04-17 15:06] jasonoverby commented on #81
5. move the times within the lesson plan to the same line as the 1./2./3./4. sections
6. move the duration of each part of the lesson to its own line
7. Move the Inspiration Image below, rather than above, the header "LOOK AND DISCUSS AN ART PIECE THAT INTRODUCES SOME OF THE LESSON CONCEPTS."

[2016-04-17 15:07] jasonoverby commented on #81
1. On the 'project page' eliminate 'Skills'
2. On the 'project page' Setup rather than Set Up

[2016-04-17 15:08] jasonoverby commented on #81
Format:

# Overview
## Synopsis

## Objective

## Setup
Students will be working individually and choosing their own materials, so have materials set up in a way that is easy to pass out as well as easy for the students artists to see and select from.

## Materials

## Photocopies

## Media

# Lesson
## Inspiration, *10m*
### LOOK AND DISCUSS AN ART PIECE THAT INTRODUCES SOME OF THE LESSON CONCEPT

[2016-04-17 15:08] #73 closed

[2016-04-17 15:11] jasonoverby commented on #81
- grey box around the standards on the overview page

[2016-04-17 15:11] #39 closed

[2016-04-17 15:59] jasonoverby commented on #50
@teaboz changed to the darker gray background

When you have images for the sayers of the quotes I should be able to add those

[2016-04-18 14:47] teaboz opened #82 "Adding Donors from 5/12-5/17"
Attached is the donor list from 5/12-5/17. Add first and last name. File in Slack (wouldn't let me export CVS here). Kara Bloom is already on as a donor.

Might make sense to put them alphabetically to make sure we don't list people twice if they donate in the future?

[2016-04-18 15:34] teaboz commented on #81
Inspiration Image expanding to full screen when clicked

[2016-04-21 15:57] teaboz commented on #77
I just looked at this again--a couple of things:

Is the text at the top different than on the other pages? It seems large somehow.

The third class down should be 'Friday' not Monday

And, not K. grades 1-2 (I think it said K on the flyer, but we have since changed it)

[2016-04-21 16:12] jasonoverby commented on #77
Ack!  Inaccuracies fixed!

The text is different at the top than the other pages, but I am just going off the mock-up @fuhred made.

[2016-04-21 16:17] teaboz commented on #77
Cool. Let's leave it until we see the style guide.

[2016-04-21 16:17] #77 closed

[2016-04-21 16:18] jasonoverby commented on #77
Word

[2016-04-22 04:26] fuhred commented on #77
I have only finished part of the style guide, but the titles/headings are
worked out:
https://dl.dropboxusercontent.com/u/10656919/HTML/typography.html

I made the page headings larger because there was too much negative space
with the older heading size.

Jason, I made some changes to the PDX classes page:

   - changed the type to be consistent with the new style guide
   - left aligned the text

[2016-04-22 04:39] fuhred commented on #81
long-term wish list: standards to first show in a collapsed state, and when
clicked to expand (like "code" and "documentation" here:
https://standards.usa.gov/labels/)

On Mon, Apr 18, 2016 at 11:34 AM, teaboz <notifications@github.com> wrote:

[2016-04-24 22:16] jasonoverby commented on #45
@teaboz @phantummm pretty sure I accomplished a version of this.  I created a pull request for a separate branch for Alex &/or RJ to check to make sure it operates the way it should.  Here is an example:

<img width="1194" alt="screen shot 2016-04-24 at 3 14 33 pm" src="https://cloud.githubusercontent.com/assets/13720540/14770855/52c258ee-0a2f-11e6-968e-4b4593116800.png">

when clicked becomes:

<

[2016-04-24 22:19] jasonoverby commented on #82
@teaboz I created a donor model that should allow you to enter donors via the admin panel.  Since this is more complicated than simple HTML/CSS I created a separate branch for Alex and/or RJ to check before implementing on the live site.

[2016-04-25 00:41] teaboz commented on #82
Awesome! It occurred to me on the flight home--would it be possible to make donations of $100 or more bold? I know that they didn't want separate categories yet, but it seems like there should be some differentiation. If that's complication, no big deal, and forget-about-it.

[2016-04-25 00:42] jasonoverby commented on #82
Yep - totally possible.  Once this gets pushed to the site we can decide for sure.

On Sun, Apr 24, 2016 at 5:41 PM -0700, "teaboz" <notifications@github.com> wrote:

Awesome! It occurred to me on the flight home--would it be possible to make donations of $100 or more bold? I know that they didn't want separate categories yet, but it seems like there should be some differentiation. If that's compl

[2016-04-25 00:43] teaboz commented on #82
Great! Alex is going to try to get to it tonight.

(by the way--awesome job rocking out on this. I might be wrong given my total ignorance of how coding works, but this feels next level)

[2016-04-25 00:44] jasonoverby commented on #82
Thanks!  Super satisfying to see it work!

On Sun, Apr 24, 2016 at 5:43 PM -0700, "teaboz" <notifications@github.com> wrote:

Great! Alex is going to try to get to it tonight.

(by the way--awesome job rocking out on this. I might be wrong given my total ignorance of how coding works, but this feels next level)

—
You are receiving this because you were assigned.
Reply to this email directly or vi

[2016-04-29 15:40] teaboz commented on #82
WIshlist: 3 columns, alphabetized so we can easily see if they’ve already donated, and then a secret slot to keep track of how much people have donated (not visible) and bolded if they donated over 100

[2016-04-29 15:52] teaboz commented on #82
Could we also change the header to read 'supporters' instead of 'community supporters?'. I think that makes more sense since donations are coming from everywhere.

[2016-05-03 17:27] teaboz opened #86 "Donation Requests throughout Website"
-donation request in the form of a pop-up at the end of a project
-an email that gives a donation link upon completion of the project

I'll touch base with Nadja (@fred) about language

[2016-05-04 17:46] teaboz opened #87 "Minor text change to Mission Statement"
The board voted to adjust the mission/vision slightly, so we should update it under the video on the front page.

New:
Our mission is to expand children's access to high-quality arts education.

Our vision is that every child receives an arts education that inspires and rewards creativity, growth and problem solving, irrespective of cost or zip code.

[2016-05-05 12:40] jasonoverby commented on #87
Done!
<img width="1180" alt="screen shot 2016-05-05 at 5 37 49 am" src="https://cloud.githubusercontent.com/assets/13720540/15043644/8d7a97ce-1283-11e6-978a-21c3d4f1b71c.png">

[2016-05-05 14:29] teaboz commented on #87
Hurrah!

[2016-05-05 14:29] #87 closed

[2016-05-12 00:14] jasonoverby commented on #81
@teaboz

I created a new pull request for Alex to review which changed the basic markdown structure & added a field within lessons for a lesson_description that can take the place of the synopsis.  I made it so the markdown can be left as is on already existing lessons (so those will not have to be rebuilt) while allowing new lessons to be entered in a way more in accordance with what you'd like t

[2016-05-12 00:16] teaboz commented on #81
Sounds promising!

On Wed, May 11, 2016 at 5:14 PM, Jason Overby <notifications@github.com>
wrote:

--
...
*DONATE TO OUR FUNDRAISER
<https://www.generosity.com/education-fundraising/every-child-deserves-a-space-to-doodle>
TO
SUPPORT QUALITY ART LESSONS FOR KIDS, EVERYWHERE. *
...
Tempest NeuCollins
*Executive Director*
*...*
*Our mission is to expand children's access to high-quality arts
educati

[2016-05-12 13:40] jasonoverby commented on #81
Add delete button for lessons

[2016-05-12 14:00] jasonoverby commented on #82
All of this is now done except having supporters who donate more than 100 in bold.  It will take a second to work on that.  What I was thinking of doing was to simply add a checkbox to the donor creation in the admin so that when checked the name would appear in bold.  Does that sound good?  Alternatively, I could add a box for you to record how much they donated (which will only be visible in the

[2016-05-12 14:01] jasonoverby commented on #81
If Alex doesn't get a chance to show you we can look at it together next Thurs...

[2016-05-12 14:02] jasonoverby commented on #82
Also, still working on alphabetizing.

[2016-05-12 14:28] teaboz commented on #82
Either would be fine--but I'm thinking maybe the second would be better, only because then if/when we get high-level donors and Jordan and Alessandra want to create additional tiers, we would already have it set up for that. But, the checkbox is also totally works, just thinking ahead.

[2016-05-20 14:49] jasonoverby commented on #82
add to donor model
- middle name
- donated amount
- suffix (Jr., etc.)
- title (Dr. etc.)

[2016-06-03 02:01] phantummm opened #97 "Temporary MailChimp drop-in"
Use drop-in script in lieu of a full built-out integration with our `User` model.

[2016-06-03 02:04] phantummm opened #98 "Draft mode for projects/lessons"
Projects/lessons marked as `draft` will only be accessible to edit/view by logged-in admin (aka, @teaboz).

[2016-06-03 02:06] phantummm opened #99 "Donation/payment system"
Handling donations/payments in a way that hooks in with our user-login system.

[2016-06-03 02:07] phantummm opened #100 "Tags for lessons and projects"
User-defined-and-applied tags for projects and lessons (but really should leave this open-ended so they can be extended to other types of content we add in the future). Also admin-defined tags as well?

[2016-06-03 02:09] phantummm opened #101 "Search functionality"
Site-search, integrating with both full-text search in projects/lessons/"content", and also with tags proposed here: https://github.com/doodlesacademy/doodles/issues/100

[2016-06-03 02:10] phantummm opened #102 "Sort/triage/cull existing issues"
Try to sort things into coming sprints, or delete them if they are redundant/moot.

[2016-06-03 03:34] phantummm opened #103 "Fix glyphicon on inspiration image"
Something dumb with the asset pipeline.

[2016-06-03 04:06] phantummm opened #104 "Create a Feedback button"
Really an entire feedback mechanism, ideally coupled with login-system.

[2016-06-03 04:07] phantummm opened #105 "General revision/treatment for styles and typography"
Guidelines around layout, styles, and (especially) typography across the site.

[2016-06-03 04:30] phantummm opened #106 "Initial design for profile page"
As per discussions. Nothing approaching final, just a basis upon which to iterate.

[2016-06-03 04:32] phantummm opened #107 "Redesign of Projects pages"
Make em more friendly and usable.

[2016-06-06 03:37] phantummm opened #111 "Initial research on payment/Stripe integration"
Just figure out the lay of the land, getting an idea of what the effort-level is going to be to get this working. Look for possible drop-in addition if possible, as we don't want to hold up donations for the whole integration to be built.

[2016-06-06 04:39] phantummm commented on #97
Done.

[2016-06-06 04:39] #97 closed

[2016-06-07 12:17] #82 closed

[2016-06-10 04:20] phantummm opened #112 "Create staging server"
We need a staging server for showing provisional design/code changes to @teaboz et al.

[2016-07-02 01:04] phantummm opened #119 "Upgrade to Ruby 2.3"
It's just better: https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/

[2016-07-02 01:40] phantummm commented on #111
General docs: https://stripe.com/docs
Charges (basics): https://stripe.com/docs/charges
Orders: https://stripe.com/docs/orders
Subscriptions: https://stripe.com/docs/subscriptions/tutorial
Ruby API docs: https://stripe.com/docs/api/ruby
Ruby gem: https://github.com/stripe/stripe-ruby

[2016-07-02 01:40] #111 closed

[2016-07-02 01:43] phantummm opened #121 "Build out charges model/endpoint for Stripe"
The charge action works via a form/Javascript, but we need to add an endpoint for Stripe to call-back with success/failure/info about the charge. We'll store these in a `Payment` or `Charge` model/database-table, and they will be associated with a `User`.
### Reference
- General docs: https://stripe.com/docs
- Charges (basics): https://stripe.com/docs/charges
- Orders: https://stripe.com/docs/orde

[2016-07-02 01:50] phantummm opened #122 "Add preview ability for draft-mode"
Projects and lessons that are in `draft` state should be viewable by a logged-in admin. This should happen via an endpoint separate from the general front-end user's, scoped under `/admin`.

[2016-07-02 01:54] phantummm commented on #99
Subsumed by issues with the tag: https://github.com/doodlesacademy/doodles/labels/payment%20integration

[2016-07-02 01:54] #99 closed

[2016-07-02 01:55] phantummm commented on #98
Completed.

[2016-07-02 01:55] #98 closed

[2016-07-02 01:55] #68 closed

[2016-07-02 01:59] phantummm opened #123 "Game plan for MailChimp integration"
How do we want to model the subscription options for MailChimp, and how do we want this to relate to our `User` model?

[2016-07-02 01:59] #63 closed

[2016-07-02 02:01] phantummm commented on #59
This conversation is being subsumed by issues with the tag: https://github.com/doodlesacademy/doodles/labels/mailchimp%20integration

[2016-07-02 02:01] #59 closed

[2016-07-02 02:01] #60 closed

[2016-07-02 02:01] #61 closed

[2016-07-02 02:01] #62 closed

[2016-07-02 02:02] phantummm commented on #67
Just more generally need validations on models, regardless of how the subscription stuff shakes out.

[2016-07-02 02:03] #40 closed

[2016-07-02 02:03] #45 closed

[2016-07-02 02:03] #9 closed

[2016-07-02 02:04] #4 closed

[2016-07-02 02:04] #32 closed

[2016-07-02 02:05] phantummm commented on #123
From closed issue (revisit data model concepts, but overall concerns are same):

* Subscribing to the mailing list will create an instance of the `Subscription` class. Creating this record will also hit the MailChimp API and create the subscription there.
* We will keep local records of the "interests" registered with MailChimp (data-points like "location", "how are you involved...", et cetera) as

[2016-07-02 02:06] phantummm commented on #123
Also pointed out: `jsonb` column could be useful here. As long as we keep things simple, and don't need to do any crazy parsing...

[2016-07-02 02:06] #47 closed

[2016-07-02 02:07] #50 closed

[2016-07-02 02:08] phantummm commented on #81
This was done by @jasonoverby ...with gusto!

[2016-07-02 02:08] #81 closed

[2016-07-02 02:08] phantummm commented on #102
Done!

[2016-07-02 02:08] #102 closed

[2016-07-02 02:39] phantummm commented on #112
@jasonoverby We've got one of these now! Getting setup finished now, but you will be able to get to it at: doodles-staging.herokuapp.com

To use it, you should just need to add a new git repo like:

`git remote add staging https://git.heroku.com/doodles-staging.git`
and then push like
`git push staging master`

We should use this for any medium-large changes to see how things work on Heroku before

[2016-07-02 03:06] phantummm commented on #112
Awesome, we're all set!

[2016-07-02 03:06] #112 closed

[2016-07-02 03:18] phantummm commented on #58
We on Puma now!

[2016-07-02 03:18] #58 closed

[2016-07-02 04:42] phantummm commented on #121
Here's the best tutorial for our purposes I think: https://stripe.com/docs/checkout/rails

[2017-05-01 03:16] #3 closed

[2017-05-01 03:16] #64 closed

[2017-05-01 03:16] #66 closed

[2017-05-01 03:16] #67 closed

[2017-05-01 03:16] #69 closed

[2017-05-01 03:16] #70 closed

[2017-05-01 03:16] #86 closed

[2017-05-01 03:16] #100 closed

[2017-05-01 03:16] #101 closed

[2017-05-01 03:16] #103 closed

[2017-05-01 03:16] #104 closed

[2017-05-01 03:16] #105 closed

[2017-05-01 03:16] #106 closed

[2017-05-01 03:16] #107 closed

[2017-05-01 03:16] #119 closed

[2017-05-01 03:16] #121 closed

[2017-05-01 03:16] #122 closed

[2017-05-01 03:16] #123 closed

[2017-05-14 00:18] phantummm opened #165 "Fix toggling between lesson levels"
Currently broken, as per @teaboz.

[2017-05-16 23:16] phantummm commented on #165
The issue here is that some part of the nav (maybe the `:after` part?) is hanging down over the links on this specific page (the Anthropomorphic Animals project), even though it's transparent, and thus blocking the click-event:

<img width="680" alt="screen shot 2017-05-16 at 4 13 58 pm" src="https://cloud.githubusercontent.com/assets/2888017/26132129/f44cc0c4-3a52-11e7-9be8-0f5b6c993477.png">

So

[2017-05-17 00:18] phantummm opened #166 "Fix S3 assets in development environment"
We should let `development` environment fetch assets from S3, as it's a lot easier to see the same way things look on production.

**Note:** this is a short-term fix until we get staging/seed-data set up for version 2. Be very careful when using this, as you will be able to delete data from our production S3 buckets!

[2017-05-19 17:27] phantummm opened #168 "Add EIN to footer"
We need to add the non-profit tax ID to the footer if we want to advertise ourselves as a charity.

As detailed in this Trello ticket: https://trello.com/c/Odq85yIE/8-add-ein-to-footera

[2017-06-04 21:59] phantummm commented on #165
Big ups to @jasonoverby for the fix on this!

[2017-06-04 21:59] #165 closed

[2017-08-20 22:43] #168 closed

[2017-08-20 22:44] #166 closed

[2018-03-18 16:57] jasonoverby opened #178 "Remove old iterations of views"
These temporary `.old` files were never cleaned up and need to be removed:

- `app/views/home/index.html.erb.old`
- `app/views/lessons/show_old.html.erb`

[2018-03-18 18:46] jasonoverby opened #180 "Move inline styles from donors view into css"
Move inline styles from `app/views/donors/index.html.erb` into css

[2018-03-18 23:13] jasonoverby opened #182 "Clean up index.html.erb"
Make style consistent and add helper method for list items

[2018-03-24 00:23] jasonoverby opened #184 "Convert home CoffeeScript file and clean up javascript"